* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
  letter-spacing: 1.1px;
  background-color: #e0e6ee;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.wrapper {
  width: 95vw;
  margin: 0 auto;
}

.collapsible {
  margin: 1rem 0;
}

.collapsible-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  color: #20a1be;
  cursor: pointer;
  border-radius: 5px;
}

.collapsible-opened {
  background-color: #fcfcfd;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0.5rem 1rem;
  transform: translateY(-5px);
  text-align: right;
}

.collapsible p:first-child {
  text-align: left;
}

.collapsible-closed {
  display: none;
}

.headers {
  border-bottom: 1px solid #c4c4c4;
}