* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
  letter-spacing: 1.1px;
  background-color: #e0e6ee;
}

.wrapper {
  width: 95vw;
  margin: 0 auto;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}


.collapsible {
  margin: 1rem 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 5px 5px 0px rgba(220, 220, 220, 0.75);
}

.collapsible-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  color: #20a1be;
  cursor: pointer;
  border-radius: inherit;
  box-shadow: 0px 2px 5px 0px rgba(220, 220, 220, 0.75);
}

.collapsible-opened {
  background-color: #fcfcfd;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 1rem 0 1rem 0rem;
  text-align: right;
}

.collapsible-opened:first-child {
  padding-top: 0;
}

.collapsible-content {
  margin: 1rem;
}

.closed {
  display: none;
}

.headers {
  border-bottom: 1px solid #c4c4c4;
}

.collapsible-text:first-child {
  text-align: left;
}

.caret-icons {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-left: 10px;
}

.caret-icons i {
  height: 12px;
}

.active-icon {
  color: #20a1be;
}

.inactive-icon {
  color: #000;
}

.text-content {
  margin-right: 20px;
}

.single-collapsible {
  display: flex;
  justify-content: flex-end;
}

.single-collapsible:first-child {
  justify-content: flex-start;
}

@media screen and (max-width: 600px) {

  .collapsible-opened {
    background-color: inherit;
  }

  .collapsible-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
  }

  .collapsible-row:nth-child(odd) {
    background-color: #fff;
  }

  .collapsible-row:nth-child(even) {
    background-color: #f2f2f2;
  }

  .headers,
  .collapsible-opened {
    display: flex;
    flex-direction: column;
  }

  .collapsible-opened {
    padding: 0;
  }

  .collapsible-content {
    margin: 0;
  }

  .caret-icons {
    display: none;
  }

  .collapsible-text {
    padding: 10px 0;
    text-align: left;
  }

  .headers {
    border: none;
  }

  .single-collapsible {
    justify-content: flex-start;
  }


}